html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    text-align: center;
}

.modal {
    display: none;
    margin: 0 1em;
}

.modal input[type="text"], textarea {
    width: 100%;
    border: 1px solid black;
    border-radius: 0.15rem;
    margin: 0 0 2em 0;
    padding: 0;
}

textarea {
    height: 8em;
}

.flex-container {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

.flex-item {
    display: flex;
    align-items: center;
    background-color: #eee;
    margin: 0.5em;
    padding: 0 1rem;
    border: 1px solid black;
    border-radius: 0.15rem;
}

.flex-item input[type="checkbox"] {
    margin: 0 1rem 0 0;
}

.flex-content {
    flex: 1;
}

.flex-footer {
    font-size: 80%;
    color: #888;
    text-align: right;
}


@media only screen and (max-width: 500px) {
    .flex-container {
        flex-direction: column;
        align-items: stretch;
    }
}